<launch>
  <arg name="model" default="$(find jaka_ur_description_pkg)/urdf/jaka.urdf.xacro"/>
  <arg name="rvizconfig" default="$(find jaka_ur_description_pkg)/rviz/urdf.rviz" />

  <include file="$(find jaka_ur_description_pkg)/launch/gazebo.launch">
    <arg name="model" value="$(arg model)" />
  </include>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" />

  <rosparam command="load"
            file="$(find jaka_ur_description_pkg)/config/joints.yaml"
            ns="jaka_ur" />
<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />


  <node name="jaka_ur" pkg="controller_manager" type="spawner"
    args="jaka_ur
          --shutdown-timeout 0.1"/>
</launch>
